# tinyrox says don't edit this manually, but it can't stop you!

export(backlinks)
export(ingest)
export(init_vault)
export(lint)
export(log_entry)
export(status)
export(update_index)

S3method(print,pensar_lint)
S3method(print,pensar_status)
